<html>

<head>
  <!--Load the AJAX API-->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">

    // Load the Visualization API and the corechart package.
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.load('current', {'packages':['line']});

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.

    var lyrics = <%- JSON.stringify(lyrics); %>;

    

    console.log("a")

    function drawChart() {



     
      var dt = new google.visualization.DataTable();
      dt.addColumn('string', 'Genero');
      dt.addColumn('number', 'Sentimiento');

      rows = []
      lyrics.forEach(function(song) {
        
        rows.push( [song.genre, song.sentimientos])
      });
      dt.addRows(rows)
   

      // Set chart options
      var options = {
        'title': 'Nivel sentimental de la musica por genero',
        'width': 1000,
        'height': 500
      };

      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
      chart.draw(dt, options);
    }
  </script>
</head>

<body>
  <!--Div that will hold the pie chart-->
  <div id="chart_div"></div>






</body>

</html>